:-ms-input-placeholder {
  color: rgb(241, 236, 236) !important;
}
::-webkit-input-placeholder {
  color: rgb(241, 236, 236) !important;
}
::placeholder {
  color: rgb(241, 236, 236) !important;
}

form {
  margin-top: 3rem;
  color: white !important;
}
form .btn:focus {
  box-shadow: none !important;
  background-color: #ffc107;
  border-color: #ffc107;
}
form input[name="city"],
form input[name="country"] {
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: 2px solid;
  border-radius: 0;
}

form input:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  color: white !important;
}
